@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/8.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>Rajasthan CM lays foundation stone for residential flats for MLAs in Jaipur</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>Gehlot said that the MLA houses built in Vidhayak Nagar East, West and Jalupura were quite old and dilapidated, and therefore, the government approved the project.</b></p>
                                                <p>
                                                    JAIPUR: Chief Minister Ashok Gehlot on Wednesday laid the foundation stone of Rajasthan Housing Board's ambitious project of residential flats for MLAs in Jaipur. At the same time, he also laid the foundation stones for other schemes of the board, including a residential scheme for the officers of all India services.
                                                </p>
                                                <p>
                                                    Speaking in a virtual ceremony, Gehlot said that the MLA houses built in Vidhayak Nagar East, West and Jalupura were quite old and dilapidated, and therefore, the government approved the project.
                                                </p>
                                                <p>
                                                    The multi-storey flats will be constructed in Jyoti Nagar and the project is scheduled to be completed by November 2023.
                                                </p>
                                                <p>
                                                    Gehlot also laid the foundation stones for AIS Residency in Pratap Nagar, Studio Apartment Scheme, CM Jan Awas Yojna in Sector 8 Pratap Nagar, CM Jan Awas Yojana in Sector 26 Pratap Nagar (all in Jaipur) and CM Jan Awas Yojna in Bhiwadi (Alwar).
                                                </p>
                                                <p>
                                                    RHB Commissioner Pawan Arora said that all modern facilities will be provided in the apartments for MLAs, including club houses, meeting halls and conference rooms along with adequate parking.
                                                </p>
                                                <p>
                                                    Under the project, 160 flats will be constructed.
                                                </p>
                                                <p>
                                                    State Assembly Speaker CP Joshi, UDH Minister Shanti Dhariwal, Education Minister Govind Singh Dotasra and Leader of Opposition Gulabchand Kataria were present on the occasion.
                                                </p>
                                            </div>
                                        </article>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->