@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/4.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>SC allows auction of 9,600 unclaimed flats in Amrapali projects</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>The top court was informed that senior advocate R. Venkataramani, the court-appointed receiver, and the NBCC have made several joint efforts to reach out to all home buyers, to whom units are said to have been sold in various housing projects.</b></p>
                                                <p>
                                                    NEW DELHI: The Supreme Court was informed on Friday that nearly 9,600 home buyers, in various Amrapali housing projects, have not come forward to claim their flats.
                                                </p>
                                                <p>
                                                    A bench comprising Justices U.U. Lalit and Ajay Rastogi allowed the plea of the court-appointed receiver to treat these flats as unsold inventory, and if nobody comes forward to claim them, then the next step should be the cancellation of their allotment and auctioning them to raise money for construction of the remaining unfinished projects.
                                                </p>
                                                <p>
                                                    The top court was informed that senior advocate R. Venkataramani, the court-appointed receiver, and the NBCC have made several joint efforts to reach out to all home buyers, to whom units are said to have been sold in various housing projects. According to a note, submitted by the receiver, in the top court, "it has emerged that about 9,583 home buyers have neither registered so far in the customer data maintained by the office of the receiver, nor have made any payments, subsequent to the judgment of the court in July 2019".
                                                </p>
                                                <p>
                                                    The bench added that a final notice should be given to these home buyers and if they don't come forward to claim these flats within 15 days, then the receiver can proceed to cancel the allotment. According to the court-appointed forensic audit report, these flats could be benami or bogus bookings.
                                                </p>
                                                <p>
                                                    Venkataramani also informed the top court that 6,210 home buyers, though registered in the customer data, are not making any payment. "Necessary direction is solicited from the court in order that the allotments to such defaulting home buyers shall be treated as cancelled, after giving one final opportunity for expressing their interest in the allotment and making due payment," added the note.
                                                </p>
                                                <p>
                                                    The receiver further added that substantial amount could be raised by selling those unclaimed flats and it would be helpful in raising funds for the construction of unfinished projects.
                                                </p>
                                            </div>
                                        </article>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->