@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/6.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>Punjab & Haryana governments, PGI yet to pay advance to CHB for high-end flats</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>A senior CHB official said they were in touch with all of them last year but nobody has submitted the 25% advance money. Although Punjab and PGI had given their affirmation, they have still not made any deposit, he added.</b></p>
                                                <p>
                                                    CHANDIGARH: While the Chandigarh Housing Board (CHB) has planned high-end flats for government officials of Haryana, Punjab and PGI at the Rajiv Gandhi Chandigarh Technology Park (IT Park), the state governments, the UT administration and PGI are yet to submit an official confirmation and 25% advance money to the board for their construction.
                                                </p>
                                                <p>
                                                    A senior CHB official said they were in touch with all of them last year but nobody has submitted the 25% advance money. Although Punjab and PGI had given their affirmation, they have still not made any deposit, he added.
                                                </p>
                                                <p>
                                                    Sources said the high cost of the towers having the residential flats was the likely reason.
                                                </p>
                                                <p>
                                                    The housing board is expected to construct 10 towers with 28 flats each having a base price of Rs 2 crore for each flat. All the three agencies are expected to pay Rs 66 crore each for their share of the flats. The project is to come up on 6.73 acres of land.
                                                </p>
                                                <p>
                                                    In June, the CHB officials had given a presentation in Haryana assembly to speaker Gian Chand Gupta, chief secretary Vijai Vardhan and engineering department officials. Sources said that Haryana is now contemplating to construct flats in Panchkula.
                                                </p>
                                                <p>
                                                    The CHB had planned constructing luxury flats for the officials and MLAs of Punjab and Haryana, and for PGI and Chandigarh administration.
                                                </p>
                                                <p>
                                                    For starting the construction, the CHB had last year written to both Punjab and Haryana and PGI for releasing their share of 25% payment. In September 2019, the CHB had sought opinion from both the governments. In addition to Punjab and Haryana, PGI had also expressed willingness to buy flats in the project.
                                                </p>
                                            </div>
                                        </article>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->