@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/3.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>Chandigarh: Income Tax department shows interest in high-end flats at IT park</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>A senior CHB official said they had received a letter from the Income Tax department, seeking details related to flats, pricing and payment mode. He added that they would provide the details to the department at the earliest.</b></p>
                                                <p>
                                                    CHANDIGARH: While the Chandigarh Housing Board (CHB) has not received advance money from Punjab, Haryana and PGI for high-end flats for government officials at Rajiv Gandhi Chandigarh Technology Park (IT Park), the Income Tax department has expressed an interest in the flats for their officials.
                                                </p>
                                                <p>
                                                    A senior CHB official said they had received a letter from the Income Tax department, seeking details related to flats, pricing and payment mode. He added that they would provide the details to the department at the earliest.
                                                </p>
                                                <p>
                                                    Earlier, the board had written to Punjab, Haryana and PGI but no one submitted the 25% advance money. Although Punjab and PGI gave their affirmation, they have still not made any deposit.
                                                </p>
                                                <p>
                                                    Sources said the high cost of the towers having the residential flats was the likely reason.
                                                </p>
                                                <p>
                                                    The housing board is expected to construct 10 towers with 28 flats each having a base price of Rs 2 crore for each flat. All the three agencies are expected to pay Rs 66 crore each for their share of the flats. The project is to come up on 6.73 acres of land.
                                                </p>
                                                <p>
                                                    In June, CHB officials delivered a presentation in Haryana assembly to speaker Gian Chand Gupta, chief secretary Vijai Vardhan and engineering department officials. Sources said that Haryana was now considering construction of flats in Panchkula.
                                                </p>
                                                <p>
                                                    The CHB planned to construct luxury flats for officials and MLAs of Punjab and Haryana and for PGI as well as Chandigarh administration.
                                                </p>
                                                <p>
                                                    To start construction, CHB wrote to Punjab, Haryana and PGI last year to release their share of 25% payment. In September 2019, CHB sought opinion from both the governments. In addition to Punjab and Haryana, PGI also expressed willingness to buy flats.
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->