@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/7.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>SWAMIH fund to invest Rs 100 crore in Imperia Group's project in Gurugram</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>The plan was launched in 2012 as a 1.2 million sq ft mid-segment residential project spread over 11 acres in Sector 37C, Gurugram. The Centre launched a SWAMIH fund to provide relief to developers struggling to complete their unfinished projects.</b></p>
                                                <p>
                                                    NEW DELHI: Government-backed stress fund SWAMIH will invest around Rs 100 crore to complete a residential project in Gurugram being developed by Imperia Group. Real estate consultant JLL India facilitated the deal, which will benefit 450 stuck homebuyers.
                                                </p>
                                                <p>
                                                    Special Window for Affordable and Mid-Income Housing (SWAMIH) Investment Fund I has committed to invest in completing phase II of Imperia Group's residential project 'The Esfera' in Gurgaon, JLL said in a statement.
                                                </p>
                                                <p>
                                                    Imperia Group will be able to revive and complete this project resulting in benefiting close to 450 homebuyers, it added.
                                                </p>
                                                <p>
                                                    JLL India did not disclose the amount sanctioned for investment in this project.
                                                </p>
                                                <p>
                                                    However, sources said that the investment by the SWAMIH fund would be around Rs 100 crore.
                                                </p>
                                                <p>
                                                    The fund is managed by SBICAP Ventures, a 100 per cent subsidiary of SBI Capital Markets, which in turn is a wholly-owned subsidiary of State Bank of India.
                                                </p>
                                                <p>
                                                    The plan was launched in 2012 as a 1.2 million sq ft mid-segment residential project spread over 11 acres in Sector 37C, Gurugram.
                                                </p>
                                                <p>
                                                    The Centre launched a SWAMIH fund to provide relief to developers struggling to complete their unfinished projects.
                                                </p>
                                                <p>
                                                    In November 2019, the central government had announced Rs 25,000 crore-special window to help complete over 1,500 stressed housing projects, comprising around 4.58 lakh housing units.
                                                </p>
                                                <p>
                                                    "The fund objective is to provide capital to stressed projects to help the home buyers realise their dream of living in their own homes. With this capital being provided, we are confident that close to 450 home buyers will soon be able to move into their dream homes," said Irfan A Kazi, Chief Investment Officer, SWAMIH Investment Fund I.
                                                </p>
                                                <p>
                                                    JLL Managing Director, North and East, India, Manish Aggarwal said the residential market in India has emerged much more resilient post the second wave of the pandemic.
                                                </p>
                                                <p>
                                                    In the Gurugram micro-market, new launches have already started.
                                                </p>
                                                <p>
                                                    In the last two years, the supply was restricted in this market due to the circle rates and lack of stamp duty benefits.
                                                </p>
                                                <p>
                                                    "But the situation is turning positive with an array of tier I launches in the city," he said.
                                                </p>
                                                <p>
                                                    The Gurugram market has been leading in sales of upper-middle and high-end segments within the entire NCR region in the past few quarters, the consultant said.
                                                </p>
                                                <p>
                                                    "Prices have remained benevolent, but we see a

                                                    fair opportunity of appreciation in the coming few months to years," Aggarwal said.
                                                </p>
                                                <p>
                                                    Harpreet Singh Batra, Managing Director, Imperia Structures Ltd, said the company aims to reach the delivery deadline for The Esfera at the earliest.
                                                </p>
                                            </div>
                                        </article>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->