@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blog Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="aa-blog-single aa-blog-details">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img alt="img" src="~/img/blogs/5.jpg"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h2>Jaipur: Lottery to allot houses for affected owners of Jhotwara road project</h2>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                                <p><b>According to data, there are 657 structures, which will be affected. “The scheme for the affected owners will be developed on 26,051sqm land at a cost of Rs 6.5 crore. The lottery will be drawn tomorrow at 4 pm.”</b></p>
                                                <p>
                                                    JAIPUR: After registering the project with Real Estate Regulatory Authority (RERA), the Jaipur Development Authority on Friday will draw a lottery to allot shop/houses to affected houses owners of Jhotwara elevated road project.
                                                </p>
                                                <p>
                                                    According to data, there are 657 structures, which will be affected. “The scheme for the affected owners will be developed on 26,051sqm land at a cost of Rs 6.5 crore. The lottery will be drawn tomorrow at 4 pm.” For the 2,450-metre long elevated road project, work in the 1,250-metre stretch cannot be initiated due to land availability.
                                                </p>
                                                <p>
                                                    An official said, “Till June, approximately Rs 60 crore had been spent on the project. The work of the entire project can be completed by December 2022.”
                                                
                                            </div>
                                        </article>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->