@model src.Models.City

<option value="">Select Cities</option>

@if (ViewBag.Cities != null)
{
    foreach (var item in ViewBag.Cities)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

