@model src.Models.Area

<option value="">Select Areas</option>

@if (ViewBag.Areas != null)
{
    foreach (var item in ViewBag.Areas)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

