<!--banner-->
<div class="banner">

    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>@ViewData["Title"]</span>
    </h2>
</div>
<!--//banner-->
@{
    if (ViewBag.error != null || ViewBag.Msg != null || TempData.Peek("Message") != null)
    {
        <div class="content-top">
            <div class="col-md-12">
                <div style="background: #fff; padding: 10px">
                    @{
                        if (ViewBag.error != null)
                        {
                            <div class="error-blog">
                                <h1>@ViewBag.error</h1>
                            </div>
                        }
                        if (ViewBag.Msg != null)
                        {
                            <div class="error-blog">
                                <h1>@ViewBag.Msg</h1>
                            </div>
                        }
                        if (TempData.Peek("Message") != null)
                        {
                            <div class="error-blog">
                                <h3>Message: @TempData.Peek("Message")</h3>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
